@import "tailwindcss";

body {
  margin: 0;
  background: #000;
  color: white;
  font-family: system-ui, sans-serif;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #dc2626;
  border-radius: 10px;
}